*.apk filter=lfs diff=lfs merge=lfs -text
Assets/Materials/SatalliteTextures/Materials/ArrayPanelTextures/*.psd filter=lfs diff=lfs merge=lfs -text
Assets/Models/BuildingPsycheSatalitte_models/PsycheSatalite/*.fbx filter=lfs diff=lfs merge=lfs -text
Library/ArtifactDB filter=lfs diff=lfs merge=lfs -text
Library/Artifacts/fb/fb8d15a06ea1ff8aa2fe03e5c334ddfd filter=lfs diff=lfs merge=lfs -text
Library/Artifacts/88/884e1f366bbcb13fd226967ab78e335d filter=lfs diff=lfs merge=lfs -text
Library/PlayerDataCache/Android/Data/data.unity3d filter=lfs diff=lfs merge=lfs -text
Library/BurstCache/PackageCache/com.unity.burst@1.8.8/.Runtime/libburst-llvm-15.dylib filter=lfs diff=lfs merge=lfs -text
Library/BurstCache/PackageCache/com.unity.toolchain.win-x86_64-linux-x86_64@2.0.6/data~/payload.tar.7z filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.burst@1.8.8/.Runtime/libburst-llvm-15.dylib filter=lfs diff=lfs merge=lfs -text
Library/PackageCache/com.unity.toolchain.win-x86_64-linux-x86_64@2.0.6/data~/payload.tar.7z filter=lfs diff=lfs merge=lfs -text
Library/Bee/artifacts/objcopy_5lmi/libil2cpp.dbg.so filter=lfs diff=lfs merge=lfs -text
Library/Bee/artifacts/Android/d8kzr/libil2cpp.so filter=lfs diff=lfs merge=lfs -text
Library/Bee/artifacts/Android/il2cppOutput/build/arm64-v8a/libil2cpp.dbg.so filter=lfs diff=lfs merge=lfs -text
Library/Bee/Android/Prj/IL2CPP/Gradle/unityLibrary/build/.transforms/090fb595b2f7ba67f44e49cf9fae29ce/transformed/out/assets/bin/Data/data.unity3d filter=lfs diff=lfs merge=lfs -text
Library/Bee/Android/Prj/IL2CPP/Gradle/unityLibrary/build/.transforms/6a28a8279f0248d436f755f861aaaca2/transformed/out/assets/bin/Data/data.unity3d filter=lfs diff=lfs merge=lfs -text
Library/Bee/Android/Prj/IL2CPP/Gradle/unityLibrary/build/.transforms/2b17bd6f145ad8f6c57ecad140490861/transformed/out/assets/bin/Data/data.unity3d filter=lfs diff=lfs merge=lfs -text
Library/Bee/Android/Prj/IL2CPP/Gradle/unityLibrary/build/.transforms/8c2d3f2e81b7544f85750119fa50b163/transformed/out/assets/bin/Data/data.unity3d filter=lfs diff=lfs merge=lfs -text
Library/Bee/Android/Prj/IL2CPP/Gradle/unityLibrary/build/intermediates/local_aar_for_lint/release/out.aar filter=lfs diff=lfs merge=lfs -text
Library/Bee/Android/Prj/IL2CPP/Gradle/unityLibrary/build/intermediates/library_assets/release/out/bin/Data/data.unity3d filter=lfs diff=lfs merge=lfs -text
Library/Bee/Android/Prj/IL2CPP/Gradle/unityLibrary/src/main/assets/bin/Data/data.unity3d filter=lfs diff=lfs merge=lfs -text
Library/Bee/Android/Prj/IL2CPP/Gradle/launcher/build/intermediates/assets/release/mergeReleaseAssets/bin/Data/data.unity3d filter=lfs diff=lfs merge=lfs -text
Library/Bee/Android/Prj/IL2CPP/Gradle/launcher/build/intermediates/compressed_assets/release/out/assets/bin/Data/data.unity3d.jar filter=lfs diff=lfs merge=lfs -text
Library/Bee/Android/Prj/IL2CPP/Gradle/launcher/build/outputs/apk/release/launcher-release.apk filter=lfs diff=lfs merge=lfs -text
